Use this link to log in:
{{{loginLink}}}
{{#passwordLink}}

If you'd prefer use a password in the future, click here:
{{{passwordLink}}}
{{/passwordLink}}

To silence these emails, click here:
{{{silenceLink}}}